*{
    margin: 0;
    padding: 0;
}
.head {
    height: 57px;
    width:100%;
    background-color: rgb(0, 0, 0);
    position: fixed;
    z-index: 1;
}
.Aimg {
   padding: 10px 5px;
   transition-duration: 0.6s;
}
.Aimg:hover{
    transform:translate(-0px,-5px);
    transition: 0.6s;
}
.location {
    background: transparent;
    position: absolute;
    top: 10px;
    left: 135px;
    width: 160px;
    height: 40px;
    z-index: 1;
    color: aliceblue;
    font-size: 12px;
    font-weight:bolder;
    
    
}
.location:hover{
    border: 1px solid white;
    height: 40px;
    border-radius: 3px; 
}
.v{
    color: rgb(212, 138, 35);
}
.b{
    font-weight: lighter;
    font-family: monospace;
    font-size:15px;
    position: absolute;
    left: 50px;
}
.d{
    font-weight: lighter;
    font-family: monospace;
    font-size: 15px;
    position: absolute;
    left:15px;
}
#ALL {
    background-color: rgb(232, 232, 232);
    border: 1px solid white;
    position: absolute;
    top: 10px;
    left: 300px;
    width: 60px;
    height: 40px;
    z-index: 1;
    color: rgb(57, 62, 67);
    font-size: 10px;
    padding: 5PX;
    border-top-left-radius: 7PX;
    border-bottom-LEFT-radius: 7px;
    font-weight: bolder;
    cursor:pointer;
}
option{
    font-size: 30px;
}
.search {
    width: 420px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 360px;
    border: none;
    font-size: 20px;
    display: flex;

}

.Sbutton {
    width: 50px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 780px;
    border: none;
    background-color: rgb(232, 179, 74);
    border-top-right-radius: 7PX;
    border-bottom-right-radius: 7px;
    cursor: pointer;
    
} 
svg{ 
    width: 20px;
    height: 40px;
    color: yellow;
} 
.account{
    background: transparent;
    position: absolute;
    top: 10px;
    left: 850px;
    width: 140px;
    height: 40px;
    z-index: 1;
    color: aliceblue;
    font-size: 12px;
    font-weight:bolder;
    

}
.account:hover{
    border: 1px solid white;
    height: 40px;
    border-radius: 3px;
    
}
.return{
    background: transparent;
     position: absolute;
    top: 10px;
    left: 79%;
    width: 100px;
    height: 40px;
    color: aliceblue;
    font-size: 13px;
    font-weight:bolder;
    line-height: 15px; 
    
}
.return:hover{
    border: 1px solid rgb(255, 255, 255);
    height: 40px;
    
    border-radius: 3px;
    z-index: 1;
}
.cart {
    position: absolute;
    top: 10px;
    left: 89%;
    color: white;
    width: 80px;
    height: 40px;
    border: none;
    background: transparent;
}
b {
    font-size: 15px;
    position: absolute;
    top: 15px;
    left: 40px;
    color: white;
}
.cart3{
    position: absolute;
    left: 10px;
    top: 0px;
}
.cart:hover{
    border: 1px solid white;
    border-radius: 3px;
}
.down{
    width: 100%;
    height: 40px;
    background-color: rgb(27, 46, 52);
    position:absolute;
    top: 55px;
    z-index: 1;
} 
.m1{
    width: 50px;
    height: 30px;
    line-height:10px;
    position:fixed;
    top: 60px;
    left: 40px;
    border: none;
    background: transparent;
    font-size: 15px;
    color: white;
    border:1px rgb(27, 46, 52) solid;
    z-index: 1;
    cursor: pointer;
    word-spacing: 3px;
}
.m1:hover{
    border: 1px solid white;
    border-radius: 3px;
}
.m2{
    
    width:100px;
    height: 30px;
    line-height:10px;
    position:fixed;
    top: 60px;
    left: 8%;
    border: none;
    background: transparent;
    font-size: 15px;
    color: white;
    border:1px rgb(27, 46, 52) solid;
    z-index: 1;
    cursor: pointer;
    word-spacing: 3px;}
.m2:hover{
    border: 1px solid white;
    border-radius: 3px;
}
.m3{
   
    width: 65px;
    height: 30px;
    line-height:10px;
    position:fixed;
    top: 60px;
    left: 16%;
    border: none;
    background: transparent;
    font-size: 15px;
    color: white;
    border:1px rgb(27, 46, 52) solid;
    z-index: 1;
    cursor: pointer;
    word-spacing: 3px;
}
.m3:hover{
    border: 1px solid white;
    border-radius: 3px;
}
.m4{
    width: 100px;
    height: 30px;
    line-height:10px;
    position:fixed;
    top: 60px;
    left: 21.5%;
    border: none;
    background: transparent;
    font-size: 15px;
    color: white;
    border:1px rgb(27, 46, 52) solid;
    z-index: 1;
    cursor: pointer;
    word-spacing: 3px;

   
}
.m4:hover{
    border: 1px solid white;
    border-radius: 3px;
}
.m5{
    width: 115px;
    height: 30px;
    line-height:10px;
    position:fixed;
    top: 60px;
    left: 29.4%;
    border: none;
    background: transparent;
    font-size: 15px;
    color: white;
    border:1px rgb(27, 46, 52) solid;
    z-index: 1;
    cursor: pointer;
    word-spacing: 3px;

}
.m5:hover{
    border: 1px solid white;
    border-radius: 3px;
}
.m6{
    width: 145px;
    height: 30px;
    line-height:10px;
    position:fixed;
    top: 60px;
    left: 38.8%;
    border: none;
    background: transparent;
    font-size: 15px;
    color: white;
    border:1px rgb(27, 46, 52) solid;
    z-index: 1;
    cursor: pointer;
    word-spacing: 3px;
}
.m6:hover{
    border: 1px solid white;
    border-radius: 3px;
}
.m7{
    width: 99px;
    height: 30px;
    line-height:10px;
    position:fixed;
    top: 60px;
    left:50.6%;
    border: none;
    background: transparent;
    font-size: 15px;
    color: white;
    border:1px rgb(27, 46, 52) solid;
    z-index: 1;
    cursor: pointer;
    word-spacing: 3px;

}
.m7:hover{
    border: 1px solid white;
    border-radius: 3px;
}
.m8{
    width: 99px;
    height: 30px;
    line-height:10px;
    position:fixed;
    top: 60px;
    left: 58.49%;
    border: none;
    background: transparent;
    font-size: 15px;
    color: white;
    border:1px rgb(27, 46, 52) solid;
    z-index: 1;
    cursor: pointer;
    word-spacing: 3px;

   
}
.m8:hover{
    border: 1px solid white;
    border-radius: 3px;
}
.m9{
    width: 99px;
    height: 30px;
    line-height:10px;
    position:fixed;
    top: 60px;
    left: 66.33%;
    border: none;
    background: transparent;
    font-size: 15px;
    color: white;
    border:1px rgb(27, 46, 52) solid;
    z-index: 1;
    cursor: pointer;
    word-spacing: 3px;

}
.m9:hover{
    border: 1px solid white;
    border-radius: 3px;

}
.m10{
    width: 150px;
    height: 30px;
    line-height:10px;
    position:fixed;
    top: 60px;
    left: 74.2%;
    border: none;
    font-size: 15px;
    color: white;
    border:1px rgb(27, 46, 52) solid;
    z-index: 1;
    cursor: pointer;
    word-spacing: 3px;
    transition: 0.6s;
    background: transparent;
   
}
.m10:hover{
    border: 1px solid white;
    border-radius: 3px;
    letter-spacing: 2px;
    transition: 0.6s;
    background-image: linear-gradient(90deg,red 0%,blue 60%,green 80%);
    
}
.m11{
    width: 200px;
    height: 30px;
    line-height:10px;
    position:fixed;
    top: 60px;
    left: 86%;
    border: none;
    background: transparent;
    font-size: 15px;
    color: white;
    border:1px rgb(27, 46, 52) solid;
    z-index: 1;
    cursor: pointer;
    word-spacing: 3px;

}
.m11:hover{
    border: 1px solid white;
    border-radius: 3px;
}
.back{
    width: 100%;
    height: 500px;
    position: relative;
    top: 95px;
}
.down{
    width: 100%;
    height: 40px;
    background-color: rgb(27, 46, 52);
    position:fixed;
    top: 55px;
    z-index: 1;
} 
.blur{
    background-image: linear-gradient(rgb(48, 74, 83),rgb(197, 226, 236));
    position: absolute;
    top: 595px;
    width: 100%;
    height: 500px;
 }
 .product1{
    position: absolute;
    top: 350px;
    left: 40px;
    cursor: pointer;
    transition: 0.6s;
 }
 .product1:hover{
     transform: translate(-0px,-10px);
    transition: 0.6s;
 }
 .product2{
     position: absolute;
     top: 350px;
     left: 660px; 
     cursor: pointer; 
     transition: 0.6s;
     
  }
  .product2:hover{
     transform: translate(-0px,-10px);
    transition: 0.6s;
 }
  .product3{
     position: absolute;
     top: 350px;
     left: 350px;
     cursor: pointer;
     transition: 0.6s;
  }
  .product3:hover{
     transform: translate(-0px,-10px);
    transition: 0.6s;
  }
  .login{
    width: 10%;
    height: 150px;
    position: absolute;
    top: 350px;
    left: 78%;
    text-align: center;
    word-spacing: 5px;
    padding: 25px;
    font-size: 20px;
    background-color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sign-in{
    width: 200px;
    font-size: 15px;
    margin-top: 40px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(255, 220, 44);
    border-radius: 5px;
    transition: 1s;
    font-weight: bold;
}
.sign-in:hover{
    background-color: rgb(23, 100, 200);
    letter-spacing:  2px;
    transition: 1s;
    color: white;
}
.top{
    width: 100%;
    height: 50px;
    background-color: rgb(27, 46, 52);
    position: relative;
    top: 400px;
    color: white;
    font-size: 20px; 
    z-index: 1;
 }
 .foot{
    width: 100%;
    height: 150px;
    background-image:linear-gradient( rgb(27, 46, 52),rgb(91, 255, 228));
    position:absolute;
    top: 953.7px;
    border: 1px solid white;
 }
 




